# This is a sample environment file.
# Copy this file to .env and fill in your actual values.
# The .env file should be in your .gitignore and NEVER committed.

# Is not needed for development, will default a placeholder value
SECRET_KEY="your-super-secret-django-key-goes-here"

# DEBUG by default is false
DEBUG="True"

# The URL of your Next.js frontend (for CORS)
ALLOWED_ORIGIN="http://localhost:3000"